/* styles/main.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#uv-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 12%;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}